.figure {
    border-radius: 10px;
}
.DogCarousel {
    border-radius: 10px;
    margin: 4rem auto;
    padding: 2rem 2rem 2rem;
    width: 600px;
    background: #ff6680;
    color: white;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;

}


.DogCarousel-Title {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 2rem;
}